@charset "utf-8";

html {}

body {}

/* header */

header {
    background: #186AC9;
    display: flex;
}



/* アコーディオンメニュー */

.menu-trigger {
    position: relative;
    width: 30px;
    height: 42px;
    cursor: pointer;
}

.menu-trigger span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #000;
    border-radius: 3px;
    transition: .35s ease-in-out;
}

.menu-trigger span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
    left: 20px;
}

.menu-trigger span:nth-child(2) {
    transform: rotate(-45deg);
    top: 10px;
}

.menu-trigger.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 10px;
    left: 20px;
}

.menu-trigger.active span:nth-child(2) {
    transform: rotate(45deg);
    top: 10px;
}


.menu {
    display: block;
    position: fixed;
    z-index: 2;
    padding-top: 60px;
    visibility: hidden;
    /* transform: translateY(-100%); */
    transition: .5s ease-in-out;
    height: 15vh;
}

.menu.active {
    visibility: visible;
    /* transform: translateY(0%); */
    transition: .5s ease-in-out;
}

.accordion-container {
    width: 50px;
}

#side-bar {
    background-color: white;
}



/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}


#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}



/* 投稿（index） */

li {
    list-style: none;
    border-bottom: 1px solid #a9a9a9;
    display: flex;
}


.post-content {
    width: 100%;
    padding: 15px;
}

.post-content div {
    display: flex;
    /* justify-content: space-between; */
}

.post-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.auth_content {
    display: flex;
    justify-content: right;
}


.post-block {
    background-color: white;
}
