@charset "utf-8";

html {
    background-color: #fff;
}

body {
    background-color: #fff;
}

/* header */

header {
    background: #186AC9;
    display: flex;
    justify-content: right;
}

.head {
    display: flex;
    align-items: center;
    height: 75px;
}

.header_atlas_icon {
    width: 50%;
    margin-left: 20px;
}

.header_user_content {
    display: flex;
    justify-content: right;
    width: 50%;
    align-items: center;
    color: white;
    margin-right: 30px;
}

.auth_user_name {
    margin-right: 20px;
}

button {
    color: white;
}


/* side bar */

#container {
    flex: 0 0 80%;
}

.row {
    display: flex;
    /* flex-flow: row wrap; */
    background-color: #fff;
}




.side_bar {
    /* flex: 0 0 19%; */
    background-color: #fff;
    border-left: 1px solid #727272;
    width: 20%;
}

.confirm_1 {
    margin-top: 15px;
    margin-left: 15px;
}

.confirm_1 div {
    display: flex;
}

.follow_button {
    width: 200px;
    justify-content: end;
    margin-bottom: 30px;
}

.confirm_2 {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #a9a9a9;
}

.follow_count {
    margin-left: 20px;
}

.search_button {
    margin-top: 30px;
}


/* アコーディオンメニュー */

.menu-trigger {
    position: relative;
    width: 30px;
    height: 42px;
    cursor: pointer;
}

.menu-trigger span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #fff;
    border-radius: 3px;
    transition: .35s ease-in-out;
}

.menu-trigger span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
    left: 20px;
}

.menu-trigger span:nth-child(2) {
    transform: rotate(-45deg);
    top: 10px;
}

.menu-trigger.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 10px;
    left: 20px;
}

.menu-trigger.active span:nth-child(2) {
    transform: rotate(45deg);
    top: 10px;
}


.menu {
    display: block;
    position: fixed;
    z-index: 2;
    padding-top: 10px;
    visibility: hidden;
    /* transform: translateY(-100%); */
    transition: .5s ease-in-out;
    height: 15vh;
}

.menu.active {
    visibility: visible;
    /* transform: translateY(0%); */
    transition: .5s ease-in-out;
    /* background-color: white; */
}




.menu ul li {
    width: 200px;
    margin-right: 50px;
    background-color: #fff;
    text-align: center;
}

.accordion-container {
    width: 50px;
    height: 25px;
    margin-right: 20px;
}


.menu ul {
    padding: 0;
    list-style: none;
    width: 300px;
}

.menu ul li {
    width: 100%;
    height: 50px;
    border: 1px solid #00008b;
    box-sizing: border-box;
}

.menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: #333;
}

.menu ul li:hover {
    background-color: #001f3f;

}

.menu ul li:hover a {
    color: #fff;
    align-items: center;
}



/* カーソル合わせたときに色変化 */
.menu ul li {
    width: 150px;
    margin-right: 50px;
    background-color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li a {
    color: #333;
    transition: color 0.3s ease;
}

.menu ul li:hover {
    background-color: #00008b;
}

.menu ul li:hover a {
    color: #fff;
}








/* 投稿（index） */

li {
    list-style: none;
    border-bottom: 1px solid #a9a9a9;
    display: flex;
}


.post_content {
    width: 100%;
    padding: 15px;
}

.post_content div {
    display: flex;
    /* justify-content: space-between; */
}

.post_name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.auth_post {
    padding: 15px;
    background-color: #fff;
    border-bottom: 7px solid #dcdcdc;
}

.auth_post_content {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.auth_post_content div {
    width: 80%;
    height: 100px;
}

.auth_content {
    display: flex;
    justify-content: right;
    background-color: #fff;
}


.post_block {
    display: flex;
    /* justify-content: center; */
    background-color: white;
    padding-left: 10%;
}


.post_block figure {
    margin-top: 15px;
}



/* モーダル */

.modal__content {
    width: 200px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal_post {
    height: 80%;
    width: 100%;
}

.modal_id {
    display: none;
}

.modal__content figure {
    display: flex;
    align-items: center;
}

.modal__content figure input {
    margin-left: 10px;
}




/* search */

.search_content {
    background-color: white;
}

.search_result {
    width: 400px;
    margin: 15px auto;
    padding: 15px 10px;
    border-radius: 15px;
}

.user_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    width: 150px;
}

.search_content {
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 10%;
    border-bottom: 7px solid #dcdcdc;
}

.search_bar {
    display: flex;
    align-items: center;
}

.search_bar figure {
    margin-top: 5px;
    margin-left: 10px;
}

.search_content p {
    margin-top: 15px;
    margin-left: 10px;
}



/* フォローリスト */

.user_list {
    display: flex;
    padding-left: 10%;
    background-color: #fff;
    border-bottom: 7px solid #dcdcdc;
}

.user_list p {
    width: 90px;
    padding-top: 15px;
}

.list_icon {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}

.list_icon figure {
    padding: 5px;
}


/* profile */

.profile_edit {
    width: 40%;
    margin: 0 auto;
}

/* .profile_edit_content {} */

.profile_edit_container {
    display: flex;
    margin: 20px;
}


.profile_edit_form div {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.profile_input {
    display: inline;
    width: 50%;
}

.profile_edit_button {
    text-align: center;
    margin-bottom: 20px;
}


/* 他user profile */
.user_profile {
    border-bottom: 7px solid #dcdcdc;
}

.user_profile_container {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.user_profile_content {
    display: flex;
    width: 60%;
}

.user_name_bio {
    margin-left: 20px;
}

.post_not_find {
    background-color: #fff;
    width: 80%;
    height: 300px;
}
